@import "tailwindcss";

:root {
  --agency-bg: #FFFFFF;
  --agency-blue: #4A6CF7;
  --agency-blue-light: #f8f9ff;
  --agency-body: #637381;
  --agency-border: #E5E8F2;
  --agency-dark: #090E34;
  --agency-heading: #212B36;
  --agency-white: #FFFFFF;
}

@layer base {
  html, body {
    min-height: 100%;
  }

  .font-primary {
    font-family: "Inter", sans-serif;
  }
}

body {
  background: var(--agency-bg);
  color: var(--agency-body);
}
